@media only screen and (max-width: 800px) {
    html,body{
        padding:0px;
        margin:0px;
    }
    header,main,footer{
        width:100%;
        box-sizing: border-box;
    }
    nav,#contenido{
        width:100%;
    }
    article img{
        width:50%;
        float:none;
        margin:0 auto;
        display:flex;
        justify-content: center;
    }
    
}