body{
    background:rgb(220,220,220);
}
header,main,footer{
    background:white;
    width:800px;
    margin:auto;
    padding:20px;
    font-family:sans-serif;
}
#logo,#corporativo{
    float:left;
}
#logo{
    width:25% 
}
#logo img{
    width:100%;
}
#corporativo{
    width:75%;
}
h1,h2{
    font-size:20px;
}